### Java ###

/*/bin/
/*/*/bin/*
/*/test-bin/
/*/bin-test/
*.log
*.class
**/test-reports/
**/test-it-reports/
**/*.local.properties
**/*.local.yaml
*.patch
*.jar

### Intellij ###

.ideaDataSources/
dataSources/
.idea/
/out/
*.iml